.col-lg-3.col-md-3.col-sm-6.col-xs-12
  .dashboard-stat2
    .display
      .number
        %h3.font-red-haze
          1349
        %small NEW FEEDBACKS
      .icon
        %i.icon-like
    .progress-info
      .progress
        %span.progress-bar.progress-bar-success.red-haze{:style => "width: 76%;"}
          %span.sr-only 85% change
      .status
        .status-title change
        .status-number 85%