.col-lg-3.col-md-3.col-sm-6.col-xs-12
  .dashboard-stat2
    .display
      .number
        %h3.font-blue-sharp
          56
        %small NEW OPPORTUNITIES
      .icon
        %i.icon-basket
    .progress-info
      .progress
        %span.progress-bar.progress-bar-success.blue-sharp{:style => "width: 45%;"}
          %span.sr-only 45% grow
      .status
        .status-title grow
        .status-number 45%