.col-lg-3.col-md-3.col-sm-6.col-xs-12
  .dashboard-stat2
    .display
      .number
        %h3.font-purple-soft
          1456
        %small TRAININGS
      .icon
        %i.icon-book
    .progress-info
      .progress
        %span.progress-bar.progress-bar-success.purple-soft{:style => "width: 56%;"}
          %span.sr-only 56% change
      .status
        .status-title change
        .status-number 56%