
        <div class="form-group">
            <% new_objects = [] %>
            <% 3.times do |n| new_objects.push(@program.programdates.build) end %>   
        <%= @f.fields_for :programdates, new_objects  do |programdates_form| %>
        <% if programdates_form.index == 0 %>
        <%= programdates_form.label :dates, :class => 'col-md-3 control-label' %>
        <div class="col-md-9">
            <% end %>
            <div class="input-inline">
                <div class="input-group">
                <%= programdates_form.text_field :start_date, :class => 'form-control datepicker', :placeholder => 'Start Date' %>
                    <span class="input-group-addon">
                    	<i class="fa fa-calendar"></i>
                    </span>
                    <%= programdates_form.text_field :end_date, :class => 'form-control datepicker', :placeholder => 'End Date' %>
                    <span class="input-group-addon">
                    	<i class="fa fa-calendar"></i>
                    </span>
                        </div>
                    </div><br /><br />
                     <% if programdates_form.index == new_objects.count-1 %>   
                    </div>
                    <% end %>            
            <% end %>
        </div>


            