<%- model_class = User -%>
<% provide(:title, model_class.model_name.human.pluralize.titleize) %>
<% provide(:minor_title, 'create a user') %>
    <!-- BEGIN SAMPLE FORM PORTLET-->
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                Create New <%= model_class %> Form
            </div>
            <div class="tools">
                <a href="" class="collapse" data-original-title="" title=""></a> <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""></a> <a href="" class="reload" data-original-title="" title=""></a>
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-wizard">
<%= render :partial => 'userform' %>
        </div>
    </div>
    </div><!-- END SAMPLE FORM PORTLET-->