.content
  / BEGIN FORGOT PASSWORD FORM
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, :class => "forget-form", novalidate: :novalidate }) do |f|
    = devise_error_messages!
    %h3 Forget Password ?
    %p
      Enter your e-mail address below to reset your password.
    .form-group
      = f.label :email, class: 'control-label visible-ie8 visible-ie9'
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "off", class: 'form-control form-control-solid placeholder-no-fix forgot-view', placeholder: 'Email'
    .form-actions
      %button#back-btn.btn.btn-default{:type => "button"} Back
      %button.btn.btn-success.uppercase.pull-right{:type => "submit"} Submit
  / END FORGOT PASSWORD FORM
