- model_class = AccountsInvoice
- provide(:title, model_class.model_name.human.pluralize.titleize)
- provide(:minor_title, 'list of accounts invoices')

.portlet.box.green
  .portlet-title
    .caption
      %i.fa.fa-cogs.fa-lg
      = yield(:title)
      Table
    .tools
  .portlet-body
    = smart_listing_controls_for(:accounts_invoices, {class: "form-inline text-right"}) do
      -# Add checkbox to form - switching it submits the form
      -#.checkbox
      -#  %label.checkbox.inline
      -#    = hidden_field_tag :with_credit_card, "0"
      -#    = check_box_tag :with_credit_card
      -#    = "Has credit card?"

      -# Add search box to form - it submits the form automatically on text change
      .form-group.filter.input-append
        = text_field_tag :filter, '', class: "search form-control",
                                  placeholder: "Search...", autocomplete: :off

        %button.btn.btn-primary.disabled{type: :submit}
          %span.fa.fa-search
    = smart_listing_render(:accounts_invoices)