		<!-- BEGIN SIDEBAR -->
		<div class="page-sidebar-wrapper">
			<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
			<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
			<div class="page-sidebar navbar-collapse collapse">
				<!-- BEGIN SIDEBAR MENU -->
				<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
				<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
				<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
				<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
				<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
				<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
				<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
					<li class="start ">
                        <%= link_to root_path do %>
						<i class="icon-home"></i>
						<span class="title">Dashboard</span>
						<% end %>
					</li>
					<li class="">
						<a href="javascript:;">
						<i class="icon-basket"></i>
						<span class="title">Sales</span>
						<span class="arrow"></span>
						</a>
						<ul class="sub-menu" style="display: none;">
							<li>
								<a href="#">
								<i class="icon-home"></i>
								Dashboard</a>
							</li>
							<li>
								<a href="#">
								<i class="icon-basket"></i>
								New Opportunities</a>
							</li>
							<li>
								<a href="#">
								<i class="icon-tag"></i>
								Propositions</a>
							</li>
							<li>
								<a href="#">
								<i class="icon-pencil"></i>
								Negotiations</a>
							</li>
							<li>
								<a href="#">
								<i class="icon-tag"></i>
								Won Opportunities</a>
							</li>
							<li>
								<a href="#">
								<i class="icon-tag"></i>
								Lost Opportunities</a>
							</li>
							<li>
								<a href="#">
								<i class="icon-handbag"></i>
								Products &amp; Services</a>
							</li>
						</ul>
					</li>
					<li class="">
						<a href="javascript:;">
						<i class="fa fa-calculator"></i>
						<span class="title">Accounting </span>
						<span class="arrow"></span>
						</a>
						<ul class="sub-menu" style="display: none;">
							<li>
								<a href="#">
                                    <i class="icon-tag"></i>
								Customer Invoices</a>
							</li>
							<li>
								<a href="#">
                                    <i class="icon-tag"></i>
								Customer Refunds</a>
							</li>
							<li>
								<a href="#">
                                    <i class="icon-tag"></i>
								Customer Payments</a>
							</li>
							<li>
								<a href="#">
                                    <i class="icon-tag"></i>
								Sales Receipts</a>
							</li>
							<li>
								<a href="#">
                                    <i class="icon-tag"></i>
								Purchase Receipts</a>
							</li>
							<li>
								<a href="#">
                                    <i class="icon-tag"></i>
								Supplier Invoices</a>
							</li>
							<li>
								<a href="#">
                                    <i class="icon-tag"></i>
								Supplier Refunds</a>
							</li>
							<li>
								<a href="#">
                                    <i class="icon-tag"></i>
								Expenses</a>
							</li>
							<li>
								<a href="#">
                                    <i class="icon-tag"></i>
								Assets</a>
							</li>
							<li>
								<a href="#">
                                    <i class="icon-tag"></i>
								Customer List</a>
							</li>
							<li>
								<a href="#">
                                    <i class="icon-tag"></i>
								Supplier List</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="javascript:;">
						<i class="icon-handbag"></i>
						<span class="title">Purchases</span>
						<span class="arrow "></span>
						</a>
						<ul class="sub-menu">
							<li>
								<a href="#">
                                    <i class="icon-tag"></i>
								RFQs</a>
							</li>
							<li>
								<a href="#">
                                    <i class="icon-tag"></i>
								Purchase Orders</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="javascript:;">
						<i class="fa fa-newspaper-o"></i>
						<span class="title">Marketing</span>
						<span class="arrow "></span>
						</a>
						<ul class="sub-menu">
							<li>
								<a href="#">
                                    <i class="icon-tag"></i>
								Mass Mailings</a>
							</li>
							<li>
								<a href="#">
                                    <i class="icon-tag"></i>
								Mailing Lists</a>
							</li>
							<li>
								<a href="#">
                                    <i class="icon-tag"></i>
								Marketing Events</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="javascript:;">
						<i class="icon-users"></i>
						<span class="title">Human Resource</span>
						<span class="arrow "></span>
						</a>
						<ul class="sub-menu">
							<li>
								<a href="#">
                                    <i class="icon-tag"></i>
								Employee List</a>
							</li>
							<li>
								<a href="#">
                                    <i class="icon-tag"></i>
								Contracts</a>
							</li>
							<li>
								<a href="#">
                                    <i class="icon-tag"></i>
								Employee Expenses</a>
							</li>
							<li>
								<a href="#">
                                    <i class="icon-tag"></i>
								Loans</a>
							</li>
							<li>
								<a href="#">
                                    <i class="icon-tag"></i>
								Leave</a>
							</li>
							<li>
								<a href="#">
                                    <i class="icon-tag"></i>
								Recruitments</a>
							</li>
						</ul>
					</li>
					<li class="last ">
						<a href="javascript:;">
						<i class="fa fa-cogs"></i>
						<span class="title">Settings</span>
						<span class="arrow "></span>
						</a>
						<ul class="sub-menu">
							<li>
								<%= link_to "Countries", countries_path %>
							</li>
							<li>
								<%= link_to "Users", users_path %>
							</li>
						</ul>
					</li>
				</ul>
				<!-- END SIDEBAR MENU -->
			</div>
		</div>
		<!-- END SIDEBAR -->